* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    text-align: center;
    font-family: 'Open Sans', Arial, sans-serif;
    // height: 150vh;
}

h1 {
    font-size: 21px;
    font-weight: bold;
    padding: 8px;
    margin-bottom: 0;

    @media(min-width: 1024px) {
        font-size: 28px;
    }
}

h2 {
    font-size: 18px;
    font-weight: bold;
    padding: 3px;
}

p {
    text-align: center;
    padding: 5px 3px;
}

.carousel {
    // width: 100%;
    // height: 212px;
    // border: 3px solid black;

    img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        // margin-bottom: 20px;

        @media(min-width: 400px) {
            height: 240px;
        }

        @media(min-width: 750px) and (min-height: 1020px) {
            height: 400px;
        }
    }
}

.contact {
    padding: 25px 0;
    background-color: rgba(12, 89, 119, 0.9);
    box-shadow: inset 0 0 115px 25px rgba(0, 0, 0, 0.65);
    color: #fff;
    border-top: 3px solid #000;

    @media(min-width: 1024px) {
        margin-top: 80px;
    }

    h2 {
        font-size: 18px;
        font-weight: bold;

        @media(min-width: 1024px) {
            font-size: 24px;
            text-transform: uppercase;
        }
    }

    p {
        margin-bottom: 0;
    }
}

.flex1 {
    @media(min-width: 1024px) {
        display: flex;
        margin: 0 80px;
        height: 350px;

        div {
            flex-basis: 50%;

            img {
                height: 350px;
            }
        }

        .text1 {
            padding: 15px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            @media(min-width: 1024px) and (max-width: 1199px) {
                font-size: 14px;
            }
        }

        .orderCarousel {
            order: 2;
        }

        .orderText {
            order: 1;
        }
    }
}