.contactPage {
    .contact {
        h1 {
            text-transform: uppercase;
            text-align: center;
        }

        h2 {
            margin-top: 12px;
        }
    }

    .image {
        img {
            width: 100%;
        }
    }

    @media(min-width: 1024px) {
        display: flex;
        margin: 0 80px;
        height: 413px;

        .contact {
            flex-basis: 50%;
            margin-top: 0;
            border: none;
        }

        .image {
            flex-basis: 50%;

            img {
                object-fit: cover;
                height: 413px;
            }
        }
    }
}