.dockmate {
    .bold {
        font-weight: bold;
    }

    .logo {
        img {
            width: 95%;
            margin-bottom: 15px;
        }
    }

    .remote {
        img {
            width: 100%;
            margin-bottom: 15px;
        }
    }

    .carousel {
        img {
            object-fit: contain;
            margin-bottom: 20px;
        }
    }

    ul {
        // list-style-type: circle;
        text-align: left;
        margin-left: 25px;
        margin-right: 3px;

        li {
            font-size: 14px;
        }
    }

    ol {
        text-align: left;
        margin-left: 25px;
        margin-right: 3px;

        li {
            font-size: 14px;
        }
    }

    .links {
        display: flex;

        div {
            flex-grow: 1;
        }
    }
}