.hamburger {
    // width: 30px;
    font-size: 28px;
    position: sticky;
    top: 0;
    margin-left: 85vw;
    // color: #4287f5;
    z-index: 2;
    background-color: #fff;

    @media(min-width: 1024px) {
        margin-left: calc(100% - 80px);
        width: 80px;
        // margin-bottom: 38px;
    }

    i {
        @media(min-width: 1024px) {
            cursor: pointer;
            line-height: 80px;
        }

        // &:hover {
        //     color: rgb(12, 89, 119);
        // }
    }
}