.hamburger {
    font-size: 28px;
    position: sticky;
    top: 0;
    margin-left: 85vw;
    color: #fff;
    z-index: 2;
    background-color: rgb(0, 103, 180);

    @media(min-width: 1024px) {
        margin-left: calc(100% - 80px);
        width: 80px;
    }

    i {
        @media(min-width: 1024px) {
            cursor: pointer;
            line-height: 80px;
        }
    }
}