.menu {
    // text-transform: uppercase;
    border: 2px solid rgb(194, 194, 194);
    position: fixed;
    right: -110vw;
    width: 100vw;
    z-index: 2;
    transition: .2s;
    background-color: rgba(0, 106, 148, 0.93);
    box-shadow: inset 0 0 115px 25px rgba(0, 0, 0, 0.55);

    @media (orientation: landscape) {
        top: 0;
    }

    @media(min-width:1024px) {
        width: calc(50% - 80px);
        top: 0;
    }

    &--active {
        right: 0;

        @media(min-width:1024px) {
            right: 80px;
        }
    }

    ul {
        list-style: none;

        li {
            padding: 3px;
            font-size: 17px;
            border-bottom: 1px solid #fff;

            @media(max-width: 350px) {
                font-size: 16px;
            }

            @media (orientation: landscape) {
                font-size: 16px;
            }

            @media(min-width: 1024px) {
                font-size: 24px;
            }

            a {
                text-decoration: none;
                color: #fff;
            }
        }
    }
}