.poland {
    .logo {
        @media(min-width: 1024px) {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        img {
            width: 95%;
            margin-bottom: 15px;
            margin-top: 15px;

            @media(min-width: 1024px) {
                object-fit: contain;
            }
        }
    }

    .carousel {
        margin-bottom: 15px;
    }

    ul {
        // list-style-type: circle;
        text-align: left;
        margin-left: 25px;
        margin-right: 3px;

        li {
            font-size: 14px;

            @media(min-width: 1024px) {
                font-size: 16px;
            }
        }
    }
}