.rescue {
    .carousel {
        img {
            margin-bottom: 20px;
        }

        &.contain {
            img {
                object-fit: contain;
            }
        }
    }

    h1 {
        margin-bottom: 30px;
        text-align: center;
    }

    .links {
        margin-top: 40px;

        h2 {
            text-align: center;
            margin-bottom: 15px;
        }

        div {
            display: flex;
            justify-content: center;

            a {
                background-color: rgb(44, 104, 214);
                padding: 5px 35px;
                color: white;
                text-decoration: none;

                &:hover {
                    background-color: rgb(62, 122, 235);
                }
            }
        }
    }
}