.rescue {
    .carousel {
        img {
            margin-bottom: 20px;
        }

        &.contain {
            img {
                object-fit: contain;
            }
        }
    }

    h1 {
        margin-bottom: 30px;
        text-align: center;
    }

    .h2AboveLinks {
        text-align: center;

        @media(min-width: 1024px) {
            margin-top: 40px;
        }
    }

    .links {

        @media(min-width: 1024px) {
            display: flex;
            width: 50%;
            position: absolute;
            left: 50%;
            transform: translate(-50%);
        }

        div {
            flex-grow: 1;
            display: flex;
            justify-content: center;

            @media(min-width: 1024px) {
                margin-top: 20px;
            }

            a {
                background-color: rgb(0, 103, 180);
                padding: 5px 35px;
                color: white;
                text-decoration: none;

                &:hover {
                    background-color: rgb(62, 122, 235);
                }
            }
        }
    }

    .contact {
        @media(min-width: 1024px) {
            margin-top: 110px;
        }
    }
}