.rescue {
    .carousel {
        img {
            margin-bottom: 20px;
        }

        &.contain {
            img {
                object-fit: contain;
            }
        }
    }

    h1 {
        margin-bottom: 80px;
    }

    // .contact {
    //     margin-top: 80px;
    // }
}