.yacht {
    .gallery {
        display: flex;
        justify-content: center;

        .carousel {
            @media(min-width: 1024px) {
                width: 1024px;
                margin-bottom: 40px;
            }

            img {
                width: 100%;
                height: 212px;
                object-fit: cover;

                @media(min-width: 1024px) {
                    height: 550px;
                }
            }
        }
    }

    .yacht-text {
        margin: 5px;

        @media(min-width: 1024px) {
            margin: 0 80px;
        }

        .specification {
            margin-bottom: 15px;
        }

        .price {
            margin: 15px 0;
        }

        p {
            margin: 0;
            padding: 0;
        }

        h1 {
            text-align: left;
            padding: 0;
            margin: 15px 0;
        }

        .bold {
            font-weight: bold;
        }

        ul {
            text-align: left;

            li {
                margin-left: 25px;
            }
        }
    }
}